:root {
  --bg-main: hsl(136, 0%, 13%);
  --bg-main-light: hsl(136, 0%, 17%);
  --text-main: #f0f7ee;
  --highlight-bold: #e76f51;
  --highlight-soft: #f4a261;
  --header-size: clamp(3em, 5vw, 10em);
  --text-size: clamp(0.3em, 2.2vw, 4em);
  --font-header: "OstrichSans";
}

@font-face {
  font-family: "AbstractGroovy";
  src: url("/fonts/AbstractGroovy-K7Zdy.ttf");
}
@font-face {
  font-family: "OstrichSans";
  src: url("/fonts/OstrichSans-Heavy.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-main);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: var(--text-main);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
